.counter{
    margin-top: 80px;
    position: relative;
}
.counter::after{
    content: "";
    background-image: url("./some-facts-bg.png");
    height: 50vh;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-size: cover;
    z-index: -1;
}
.counter .container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    height: 50vh;
    place-items: center;
    text-align: center;
}
.counter .box{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.counter .box h2{
    color: var(--primaryColor);
    font-size: 40px;
    font-weight: 600;
    margin: 20px 0;
}
