.our-skills {
    padding-top: 30px;
    padding-bottom: 40px;
    position: relative;
}

.our-skills .container {
    display: flex;
    align-items: center;
}

.our-skills .skills {
    flex: 1;
}

.our-skills .skill h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.our-skills .skill h3 span {
    font-size: 12px;
    border: 1px solid #ccc;
    padding: 3px 5px;
    border-radius: 4px;
    color: var(--primaryColor);
    position: absolute;
}

.our-skills .skill .the-progress {
    height: 30px;
    background-color: #eee;
    position: relative;
    transition: 2s;
}

.our-skills .skill .the-progress span {
    width: 0;
    transition: .6s;
}

.our-skills .skill .the-progress span {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--primaryColor);
    transition: 2s linear;
}