header{
    background-color: var(--headingColor);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    height: 10vh;
    line-height: 10vh;
    z-index: 11;
}
header .logo{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 600;
}
header a{
    margin-left: 30px;
}
header .toggle{
    cursor: pointer;
    color: var(--white);
    display: none;
}
@media (max-width:768px) {
    header .nav{
        display: none;
    }
    header a{
        width: 100%;
        display: block;
        color: var(--white);
    }
    header .toggle{
        display: flex;
        font-size: 25px;
        background-color: transparent;
        margin-bottom: 20px;
    }
    header .nav-mobile{
        background-color: var(--headingColor);
        position: fixed;
        top: 10vh;
        left: 0;
        width: 100%;
        display: block;
        text-align: center;
    }
}
